Repository 11bluetree/mqsql-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: biome, secretlint

biome:
  run: npx biome check --apply --no-errors-on-unmatched {staged_files} && npx biome lint --no-errors-on-unmatched {staged_files}

secretlint:
  run: npx secretlint {staged_files}

feat: プルリクエスト作成方法の説明を追加
  .copilot/pull-request-description-instructions.md
  .vscode/setting.json
Due: secretlint

fix: SELECTツールの出力スキーマを修正し、型をunknownに更新
  src/server.ts
  src/tools/select.ts
Due: biome, secretlint

fix: .gitignoreに.envファイルを追加
  .gitignore
Due: none

feat: プルリクエスト用のテンプレートを追加
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint

feat: モジュールのインポートパスを修正し、tsconfigを更新
  package-lock.json
  package.json
  src/database/mysql.ts
  src/index.ts
  src/server.ts
  src/tools/select.ts
  tsconfig.json
Due: biome, secretlint

fix: .gitignoreに.vscode/mcp.jsonを追加
  .gitignore
Due: none

fix: バージョン番号を1.0.1に更新
  package.json
Due: secretlint

fix: バージョン番号を1.0.2に更新
  package.json
Due: secretlint

feat: VS CodeでのMCP設定に関するドキュメントを追加
  README.md
Due: secretlint

docs: プルリクエストの説明にフォーマットを追加
  .copilot/pull-request-description-instructions.md
Due: secretlint

feat: VS Codeの設定ファイルを追加
  .vscode/setting.json
  .vscode/settings.json
Due: secretlint

feat: スキーマ情報を取得するツールを追加
  src/server.ts
  src/tools/schema.ts
Due: biome, secretlint

fix: バージョン番号を1.1.0に更新し、キーワードのフォーマットを修正
  package.json
Due: secretlint

feat: MCPサーバーのツール定義を更新し、リクエストハンドラーを設定
  src/server.ts
Due: biome, secretlint

fix: バージョン番号を1.1.1に更新
  package.json
Due: secretlint

feat: READMEとサーバーのバージョンを1.1.1に更新し、スキーマ情報取得機能を追加
  README.md
  src/server.ts
Due: biome, secretlint

feat: jest.config.jsを追加し、TypeScriptテストの設定を構成
  jest.config.js
Due: biome, secretlint

feat: テスト設定を更新し、Jestのテストマッチパターンを修正 fix: package.jsonとpackage-lock.jsonのバージョンを1.1.1に更新し、@types/jestを追加 test: selectToolのユニットテストを追加 refactor: tsconfig.jsonの除外設定を修正
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: biome, secretlint

feat: モックデータベース作成関数を追加
  src/tools/specs/select.spec.ts
Due: biome, secretlint

feat: selectToolのテストを追加し、モックの設定を改善
  src/tools/specs/select.spec.ts
Due: biome, secretlint

refactor: delete no meaning comment
  src/tools/specs/select.spec.ts
Due: biome, secretlint

feat: selectToolのテストケースを追加し、クエリのバリデーションを強化
  src/tools/specs/select.spec.ts
Due: biome, secretlint

feat: validateSelectQuery関数のSQLインジェクション対策を強化し、複数ステートメントのチェックを追加
  src/utils/specs/validation.spec.ts
  src/utils/validation.ts
Due: biome, secretlint

refactor: 不要な内部エラー作成関数を削除
  src/utils/error.ts
Due: biome, secretlint

refactor: validateSelectQueryのモックを削除し、実際のモジュールをスパイするように変更
  src/tools/specs/select.spec.ts
Due: biome, secretlint

refactor: テストケースの名称を改善し、不要なテストを削除
  src/tools/specs/select.spec.ts
Due: biome, secretlint

refactor: 不要なテストケースを削除し、クエリのバリデーションを整理
  src/utils/specs/validation.spec.ts
Due: biome, secretlint

feat: CIワークフローにテストジョブを追加
  .github/workflows/ci.yml
Due: secretlint

fix: バージョン番号を1.1.2に更新
  README.md
  package-lock.json
  src/server.ts
Due: biome, secretlint

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  secretlint: any of: *.{js,ts,json,yml,yaml,md}
